<!DOCTYPE html>
<html>
  <head>
    <title>Infosec Challenges</title>
    <meta name="" content="Free Code Camp - Infosec Challenges">
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <h1>
        Applied InfoSec Challenges (FCC)
      </h1>
    </header>

    <main>
    </main>

    <footer>
      <h3>Check out the repository
        <a href="https://github.com/rudolphh/infosec-helmetjs">here</a>
      </h3>
      <h3>The commits follow the order of the challenges found at
        <a href="https://beta.freecodecamp.com" >beta.freecodecamp.com</a>
      </h3>
    </footer>

  </body>
</html>
